/* .test{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 100px;
    width: 100px;
    background-color: red;
} */
.asdas{
    display: flex;
    justify-content: space-between;
}